/* home.css */

/* Style général du body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Alignement des éléments de l'en-tête */
.header {
    display: flex;
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Alignement vertical */
}

/* Titre principal */
h2 {
    color: #4682B4; /* Couleur bleu acier */
}



/* Style des boutons */
button {
    background-color: #4682B4; /* Couleur bleu acier */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a9bc0; /* Une teinte plus claire de bleu */
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4682B4;
    color: white;
}

/* Style pour les liens */
a {
    color: #4682B4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 600px) {
    form {
        width: 90%;
        margin: auto;
    }

    table {
        font-size: 14px;
    }
}
